body {
    background-color: rgb(193, 248, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

header {
    text-align: center;
    padding-top: 5rem;
    font-size: 6rem;
    font-weight: 700;
    color: black;
}

form {
    text-align: center;
    font-weight: 700;
    color: black;
    background-color: #f6c7ff;
    border: 3px solid #e97dff;
    border-radius: 15px;
    padding: 25px;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #f6c7ff;
    border: 3px solid #e97dff;
}

button:hover {
    background-color: rgb(255, 255, 255);
}

form input {
    background-color: rgb(193, 248, 255);
    border: 3px solid rgb(61, 232, 255);
}

form input:hover {
    background-color: rgb(255, 255, 255);
}